.clients {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.clients__link {

    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $symbol-color;

    border: 1px solid;
    border-color: $symbol-color;
    border-radius: 4px;

    &:hover,
    &:focus  {
        border-color: $accent-color;
    }

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.clients__item {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 170px;
    height: 92px;
    
    margin-right: 30px;
    
    &:last-child {
        margin-right: 0;
    }


    .clients__link:hover &,
    .clients__link:focus & {
       border-color: $accent-color;
    }

    
}



.clients__icon {
    display: block;
    width: 106px;
    height: 60px;
    fill: $symbol-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .clients__link:hover &,
    .clients__link:focus & {
        fill:  $accent-color;
    }
}
