.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $grey-background-color;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__box {
    margin-right: 70px;

    &--no-margin-right {
        margin-right: 0;
    }
}




address {
    font-style: normal;

}

.address__text {
    color: $main-background-color;
    line-height: 1.71;
}


.address__link {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
}

.address__item {
    list-style: none;
    text-decoration: none;

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}


.social-sites {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-sites__item {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    

    &:last-child {
        margin: 0;
    }

    
}

.social-sites__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px 12px;
    list-style: none;
    text-decoration: none;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
        
    }

}

.social-sites__icon {
    width: 20px;
    height: 20px;

    &--white {
        fill: $main-background-color;
    }

}


.joining {
    margin-left: auto;

    &__text {
        color: $main-background-color;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__box {
        display: flex;
    }

    &__input {
        width: 358px;
        height: 50px;
        padding-left: 15px;
        margin-right: 12px;
        background-color: $grey-background-color;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        outline: none;
        color: $main-background-color;
    }
    
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 29px;
        text-align: center;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: $main-background-color;
        width: 200px;
        height: 50px;
        background: $accent-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
    }
    
    &__icon-submit {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        fill: $main-background-color;
    }
}
