.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background: $grey-background-color;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainpic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {

        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

        color: $main-background-color;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        width: 696px;
    }

}

.button {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    cursor: pointer;

    color: $main-background-color;
    background-color: $accent-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $main-background-color;
        background-color: $button-background-color;
        font-family: inherit;
    }
}