html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



body {

    color: #757575;
    background: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    color: #212121;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

// .third-title {
//     color: #212121;
//     margin-top: 0;
//     margin-bottom: 10px;
// }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}