.studiia-section {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 94px;
    padding-bottom: 94px;

    &__menu {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        text-decoration: none;
    }
}

.studiia-section__button-portfolio {


    color: $title-text-color;
    background: $secondary-white-background-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $main-background-color;
        background-color: $accent-color;
    }
}



.studiia-section__work-list {
    margin-right: 8px;
    border-radius: 4px;

    transition: bow-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}




.studiia-examples {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    margin-right: -30px;
    margin-bottom: -30px;

    &__site-info {

        padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }

    &__title {
        color: $title-text-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
        text-align: left;
    }

    &__site-name {
        font-size: 16px;
        line-height: 1.88;
    }

}

.studiia-examples__item {
    margin-right: 30px;
    margin-bottom: 30px;
    background: $main-background-color;

    &:nth-child(3n) {
        margin-right: 0px;
    }

}



.studiia-examples__link {
    background: $main-background-color;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        display: block;
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.studiia-examples__thumb {
    position: relative;
    overflow: hidden;
}

.studiia-examples__web-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    ;
    opacity: 0;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .studiia-examples__item:hover & {
        transform: translateX(0);
        opacity: 1;
    }
}


.studiia-examples__suggestion {
    position: absolute;
    top: 63px;
    left: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $main-background-color;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .studiia-examples__item:hover & {
        opacity: 1;
    }
}