.section--no-padding-top {
    padding-top: 0;
}

.works {
    display: flex;
    list-style: none;
    text-decoration: none;

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__text {
      position: absolute;
      bottom: 27px;
      left: 0;
      right: 0;

      font-weight: 700;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $main-background-color;
    }
}


.works__thumb {
    position: relative;

    &::before {
        position: absolute;
        display: inline-block;
        content: " ";
        bottom: 0;
        width: 370px;
        height: 70px;

        background: rgba(47, 48, 58, 0.8);
    }
}